

#title_text {
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    border-radius: 15px;
    margin: 2%;
}

.about {
    padding: 1%;
    background: rgb(217, 222, 204);
    border-radius: 15px;
    margin: 2%;
    padding: 1%;
    display:flex;
    flex-direction: row;
    flex-wrap: row;
    flex-flow: row;
}

#text_about {
    font-size: xx-large;
    width: 58.5rem;
}

.achievenments {
    padding: 1%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    margin: 2%;
}

#img_star {
    width: 5rem;
}

#img_logo {
    width: 15rem;
}

.employees {
    display:flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
}

.group_loghan {
    padding: 1%;
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#img_loghan {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-items: center;
    align-self: center;
}

.loghan {
    padding: 1%;
    margin: 2%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    width: 35rem;
}

.group_richarch {
    padding: 1%;
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#img_richarch {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-items: center;
    align-self: center;
}

.richarch {
    padding: 1%;
    margin: 2%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    width: 35rem; 
}

.group_gavin {
    padding: 1%;
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#img_gavin{
    width: 35rem;
    height: 30rem;
    display: flex;
    justify-items: center;
    align-self: center;
} 

.gavin {
    margin: 2%;
    padding: 1%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    width: 35rem;
}

.pages {
    justify-content: center;
    background: rgb(250, 252, 242);
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 8rem;
    text-indent: 50px;
    font-size: large;
}

#media {
    display: flex;
    align-self: flex-start;
    width: 15rem;
}