@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&family=Iceland&display=swap);

h1 {
    font-family: 'Irish Grover';
}

body {
    background-color: rgb(150, 0, 0);
}

.title {
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    height: 10rem;
    font-size: 5rem;
    color: rgb(250, 252, 242);
    background: rgb(161, 165, 141);
    border-radius: 15px;
    margin: 2%;
}

.order {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    font-size: x-large;
    margin: 2%;
    background: rgb(217, 217, 217);
    border-radius: 30px;
    width: 50%;
}

.order_title {
    background-color: #BE9D4D;
}

.order_icon {
    width: 100%;
    height: auto;
}