* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    
}

main {
    background-image: url(Images/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    margin: 0%;
    font-family: 'Irish Grover';
    color: rgb(250, 252, 242);
}

p {
    font-family: 'Bree Serif', serif;
    color: rgb(250, 252, 242);
}

img {
    max-width: 100%;
    width: 30%;
    margin: 1%;
}

[role="banner"] {
    text-align: center;
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 3%;
    background: rgb(49,110,53);
    border-radius: 15px;
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[role="textbox"] {
    color: rgb(250, 252, 242);
    font-size: 2rem;
}

[role="doc-subtitle"] {
    text-align: center;
    font-size: 3rem;
}

[role="row"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_title {
    font-size: 4rem;
    text-align: center;
}

/* I was here :3 */

/*Homepage*/
.home_page_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Images/home/home_steak.jpg);
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
}

/*Carousel*/
.customer_favorite {
    background: rgb(49,110,53);
    border-radius: 15px;
    text-align: center;
    font-size: 3rem;
}

#menu_title_home {
    margin: 0;
}

.menu_items_container {
    text-align: center;
    overflow: visible;
    position: relative;
    margin:20%;
}

.menu_items {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.menu_items::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.menu_items::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.menu_items::-webkit-scrollbar-track {
    background: transparent;
}

.img-nav > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform: scale(1);
    transition: transform 0.5s;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_items_container img {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}

.img-nav {
    position:static;
    z-index: 2;
    bottom: 1rem;
    left: 50%;
    display: flex;
    justify-content: center;
}

.img-nav > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(49,110,53);
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    margin: 0 0.25rem;
    box-shadow: 0 1px 2px rgba(20, 55, 158, 0.3);
}

.reviews {
    padding: 1%;
    background: rgb(49,110,53);
    border-radius: 15px;
}

#review_paragraph {
    font-size:2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured_hp {
    max-width: 30%;
    padding: 1%;
    margin: 3rem;
    background: rgb(49,110,53);
    border-radius: 15px;
    font-size: 2rem;
}

#featured_text {
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

#featured_img {
    width: 100%;
}

.ordering {
    display: flex;
}

.order_hp {
    padding: 1%;
    margin: 1%;
    background: rgb(31,108,61);
    border-radius: 15px;
    font-size: 3rem;
    width: 50%;
}

#order_title_hp {
    color: rgb(250, 252, 242);
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order_text_hp {
    font-size: 3rem;
    padding: 1%;
    font-size: 2rem;
    background: rgb(191,222,133);
    color: rgb(71,53,44);
    border-radius: 15px;
}

#button {
    padding: 1%;
    font-size: 2rem;
    background: rgb(190,157,77);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*we need to figure out how to contain the background around the image, no extra room.*/    
}
/*homepage end*/
/*about page*/
.about_page_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url();
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
}
/*about page end*/





.pages {
    justify-content: center;
    background: rgb(250, 252, 242);
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 8rem;
    text-indent: 50px;
    font-size: large;
}

#media {
    display: flex;
    align-self: flex-start;
    width: 15rem;
}