@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url(https://fonts.googleapis.com/css2?family=Iceland&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&family=Iceland&display=swap);

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

main {
    background-image: url(Images/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

[role="menu"] {
    background-attachment: fixed;
}

h1, h2, h3 {
    margin: 0%;
    font-family: 'Irish Grover';
    color: rgb(250, 252, 242);
}

p {
    font-family: 'Bree Serif', serif;
    color: rgb(250, 252, 242);
}

img {
    max-width: 100%;
    width: 30%;
    margin: 1%;
}

.featured_title {
    background: rgb(190,157,77);
    border-radius: 15px;
}

[role="banner"] {
    text-align: center;
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 3%;
    background: rgb(49,110,53);
    border-radius: 15px;
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[role="textbox"] {
    color: rgb(250, 252, 242);
    font-size: 2rem;
}

[role="doc-subtitle"] {
    text-align: center;
    font-size: 3rem;
}

[role="row"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_title {
    font-size: 4rem;
    text-align: center;
}

/* I was here :3 */

/*Homepage*/
.home_page_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Images/home/home_steak.jpg);
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
}

.featured_hp {
    max-width: 30%;
    padding: 1%;
    margin: 3rem;
    background: rgb(190,157,77);
    border-radius: 15px;
    font-size: 2rem;
}

#featured_text {
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

#featured_img {
    width: 100%;
}

.reviews_hp {
    padding: 1%;
    background: rgb(49,110,53);
    border-radius: 15px;
}

.reviews_title_hp {
    background: rgb(190,157,77);
    border-radius: 15px;
}

#review_paragraph {
    font-size:2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Carousel*/
.customer_favorite {
    background: rgb(190,157,77);
    border-radius: 15px;
    text-align: center;
    font-size: 3rem;
}

#menu_title_home {
    margin: 0;
}

.menu_items_container {
    text-align: center;
    overflow: visible;
    position: relative;
    margin:20%;
}

.menu_items {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.menu_items::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.menu_items::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.menu_items::-webkit-scrollbar-track {
    background: transparent;
}

.img-nav > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform: scale(1);
    transition: transform 0.5s;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_items_container img {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}

.img-nav {
    position:static;
    z-index: 2;
    bottom: 1rem;
    left: 50%;
    display: flex;
    justify-content: center;
}

.img-nav > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(49,110,53);
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    margin: 0 0.25rem;
    box-shadow: 0 1px 2px rgba(20, 55, 158, 0.3);
}
/*Carousel end*/

.order_hp {
    padding: 1%;
    margin: 1%;
    background: rgb(31,108,61);
    border-radius: 15px;
    font-size: 3rem;
    width: 50%;
}

#order_title_hp {
    color: rgb(250, 252, 242);
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order_text_hp {
    font-size: 3rem;
    padding: 1%;
    font-size: 2rem;
    background: rgb(191,222,133);
    color: rgb(71,53,44);
    border-radius: 15px;
}

#button {
    padding: 1%;
    font-size: 2rem;
    background: rgb(190,157,77);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*we need to figure out how to contain the background around the image, no extra room.*/    
}
/*homepage end*/

/*about page*/
.about_page_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Images/about/volcano.jpg);
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
}

#title_text {
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    border-radius: 15px;
    margin: 2%;
}

.about {
    padding: 1%;
    background: rgb(31,108,61);
    border-radius: 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: row;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.achievements_title, .achievements_paragraph {
    margin: 1%;
}

.achievenments {
    background: rgb(161, 165, 141);
    border-radius: 15px;
    margin: 2%;
    padding: 1%;
}

#img_logo {
    width: 60rem;
}

.employees_ {
    display:flex;
    flex-direction: row;
    flex-flow: row;
}

.employees_text {
    margin: 2%;
    padding: 1%;
    background: rgb(31,108,61);
    border-radius: 15px;
    width: 30rem;
}

.employees_group {
    padding: 1%;
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#employee_img{
    width: 35rem;
    height: 30rem;
    display: flex;
    justify-items: center;
    align-self: center;
} 

.employees_paragraph {
    margin: 2%;
    padding: 1%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    width: 35rem;
}
/*about page end*/

/*review page*/
.review_title {
    font-size: 6rem;
    text-align: center;
}

.review_group {
    display: flex;
}

#review_text {
    font-size: 4rem;
    margin: 1%;
    background: rgb(49,110,53);
    border-radius: 15px;
}

#review_image {
    max-width: 25%;
    width: 100%;
    padding: 1%;
}
/*review page end*/

/*careers*/
.careers_page_title {
    background-image: url(Images/backgorund/logo_vine.jpg);
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#title_text {
    font-size: 7rem;
}

#sub_title_text {
    font-size: 4rem;
}

.careers{
    display: flex;
}

#careers_paragraph{
    font-size:3rem;
    padding: 1%;
    background: rgb(49,110,53);
    border-radius: 15px;
    margin: 0%;
}

#careers_img{
    width: 25rem;
    margin: 1%;
}
/*careers end*/

/*menu*/
[role="rowheader"] {
    text-align: center;
    font-size: 4rem;
    background:  rgb(31,108,61);
}

.menu_page_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url("Images/menu/Firefly jurassic jungle landscape with city-restaurant within the forest of cradle mountain 9370.jpg");
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
}

.menu_page {
    text-align: center;
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 3%;
    background: rgb(49,110,53);
    border-radius: 15px;
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
}

.menu_item {
    margin: 3%;
    padding: 1%;
    background: rgb(49,110,53);
    border-radius: 15px;
}

#menu_item_img {
    max-width: 100%;
    width: 100%;
}

#menu_item_title {
    font-size: 2rem;
}

#menu_item_paragraph {
    font-size: 1.5rem;
}

#cart {
    max-width: 33%;
    width: 10%;
    display: flex;
    justify-self: left;
    align-self:flex-end;
}
/*menu end*/

.pages {
    justify-content: center;
    background: rgb(250, 252, 242);
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 8rem;
    text-indent: 50px;
    font-size: large;
}

#media {
    display: flex;
    align-self: center;
    width: 25rem;
}