body {
    background-color: rgb(151, 0, 0);
}

h1, h2, h3 {
    font-family: 'Irish Grover';
}

p {
    font-family: 'Bree Serif', serif;
}

.title {
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    background-image: url(Images/about/volcano.jpg);
    background-size: cover;
    height: 70rem;
}

#title_text {
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    border-color: rgba(70, 31, 115, 0.3);
    border-style: solid;
    border-radius: 15px;
    margin: 2%;
}

.about {
    padding: 1%;
    background: rgb(217, 222, 204);
    border-radius: 15px;
    margin: 2%;
    padding: 1%;
    display:flex;
    flex-direction: row;
    flex-wrap: row;
    flex-flow: row;
}

#text_about {
    font-size: xx-large;
    width: 58.5rem;
}

.achievenments {
    padding: 1%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    margin: 2%;
}

#img_star {
    width: 5rem;
}

#img_logo {
    width: 15rem;
}

.employees {
    display:flex;
    flex-direction: row;
    flex-flow: row;
}

.group_loghan {
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#img_loghan {
    position: relative;
    width: 30rem;
}

.loghan {
    margin: 2%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    height: 10rem; 
}

.group_richarch {
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#img_richarch {
    position: relative;
    width: 30rem;
}

.richarch {
    margin: 2%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    height: 10rem;  
}

.group_gavin {
    display:flex;
    flex-direction: column;
    flex-flow: column;
}

#img_gavin{
    position: relative;
    width: 30rem;
} 

.gavin {
    margin: 2%;
    background: rgb(161, 165, 141);
    border-radius: 15px;
    height: 10rem; 
}

.pages {
    justify-content: center;
    background: rgb(250, 252, 242);
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 8rem;
    text-indent: 50px;
    font-size: large;
}

#media {
    display: flex;
    align-self: flex-start;
    width: 15rem;
}