* {
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 0, 0);
}

h1, h2, h3 {
    font-family: 'Irish Grover';
    color: rgb(250, 252, 242);
}

p {
    font-family: 'Bree Serif', serif;
    color: rgb(250, 252, 242);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Images/careers/dining_career.jpg);
    background-size: cover;
    background-position-y: -20rem;
    background-origin: 1000px;
    height: 60rem;
    
}

.title_input {
    padding: 1%;
    background: rgb(161,165,141, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#title_text, #sub_title_text {
    text-align: left;
    color: rgb(250, 252, 242);
}

#title_text {
    font-size: 7rem;
    display: flex;
    align-self: center;
}

#sub_title_text {
    font-size: 4rem;
}

.kitchen{
    display: flex;
}

.kitchen_text {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#kitchen_title{
    padding: 1%;
    background: rgb(190,157,77);
    border-radius: 15px;
    font-size:3rem;
}

#kitchen_paragraph{
    color: rgb(71,53,44);
    font-size:3rem;
    padding: 1%;
    background: rgb(161,165,141);
    border-radius: 15px;
    margin: 0%;
}

#kitchen_image{
    width: 25rem;
    margin: 1%;
}

.waiter{
    display: flex;
}

.waiter_text {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#waiter_title{
    padding: 1%;
    background: rgb(190,157,77);
    border-radius: 15px;
    font-size: 3rem;
}

#waiter_paragraph {
    color: rgb(71,53,44);
    font-size:3rem;
    padding: 1%;
    background: rgb(161,165,141);
    border-radius: 15px;
    margin: 0%;
}

#waiter_image {
    width: 25rem;
    margin: 1%;
}

.pages {
    justify-content: center;
    background: rgb(250, 252, 242);
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 8rem;
    text-indent: 50px;
    font-size: large;
}

#media {
    display: flex;
    align-self: flex-start;
    width: 15rem;
}