* {
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 0, 0);
}

h1, h2, h3 {
    font-family: 'Irish Grover';
    color: rgb(250, 252, 242);
}

p {
    font-family: 'Bree Serif', serif;
    color: rgb(250, 252, 242);
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Images/home/home_steak.jpg);
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 50rem;
}

.home_page {
    text-align: center;
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 3%;
    background: rgb(63.1%, 64.7%, 55.33%);
    /*Please help make the box around the text fix the text, 
    bassacly what i am asking for is if u know how to make
    the box's height has high as the text.*/
    border-radius: 15px;
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
}

/*Carousel*/
.customer_favorite {

}

.menu_items_container {
    text-align: center;
    overflow: visible;
    position: relative;
    margin:20%;
}

.menu_items {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.menu_items::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.menu_items::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.menu_items::-webkit-scrollbar-track {
    background: transparent;
}

.img-nav > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform: scale(1);
    transition: transform 0.5s;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_items_container img {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}

.img-nav {
    position:static;
    z-index: 2;
    bottom: 1rem;
    left: 50%;
    display: flex;
    justify-content: center;
}

.img-nav > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    margin: 0 0.25rem;
    box-shadow: 0 1px 2px rgba(20, 55, 158, 0.3);
}



#meals {
    width: 75rem;
    height: 55rem;
}

#kids_meal {
    width: 75rem;
    height: 55rem;
}

#drinks {
    width: 75rem;
    height: 55rem;
}

#favoites {
    width: 5rem;
    height: 55rem;
}

/*Carousel end*/

#review_title {
    font-size:5rem;
    display: flex;
    justify-content: center;
}

#review_text {
    font-size:4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#blonde {
    width: 28rem;
}

#boldmen {
    width: 30.9rem;
    margin: 2%;
}

#redheads {
    width: 28rem;
}

#featured_title {
    font-size:4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured_img {
    /*we need*/  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dinosaur_steak {
    padding: 1%;
    margin: 1%;
    background: rgb(217,222,204);
    border-radius: 15px;
    font-size: 2rem;
}

#dinosaur_steak_img {
    width: 25rem;
}

#dinosaur_steak_text {
    margin: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

.salmon {
    padding: 1%;
    margin: 1%;
    background: rgb(217,222,204);
    border-radius: 15px;
    font-size: 2rem;
}

#salmon_img {
    width: 29.5rem;
    height: 26rem;
    padding: 1%;
    margin: 0.85%;
}

#salmon_text {
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

.seabass {
    padding: 1%;
    margin: 1%;
    background: rgb(217,222,204);
    border-radius: 15px;
    font-size: 2rem;
}

#seabass_img {
    width: 25rem;
}

#seabass_text {
    padding: 1%;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

.ordering {
    display: flex;
}

#ordering_title {
    font-size:4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation_home {
    padding: 1%;
    margin: 1%;
    background: rgb(217,222,204);
    border-radius: 15px;
    font-size: 2rem;
}

#reservation_title {
    color: rgb(71,53,44);
    font-size:2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reservation_text {
    padding: 1%;
    font-size: 1rem;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

.checkout_home {
    padding: 1%;
    margin: 1%;
    background: rgb(217,222,204);
    border-radius: 15px;
    font-size: 2rem;
}

#pickup_title {
    color: rgb(71,53,44);
    font-size:2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pickup_text {
    padding: 1%;
    font-size: 1rem;
    background: rgb(63.1%, 64.7%, 55.33%);
    color: rgb(71,53,44);
    border-radius: 15px;
}

#button {
    padding: 1%;
    font-size: 1rem;
    background: rgb(190,157,77);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*we need to figure out how to contain the background around the image, no extra room.*/    
}



.pages {
    justify-content: center;
    background: rgb(250, 252, 242);
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 8rem;
    text-indent: 50px;
    font-size: large;
}

#media {
    display: flex;
    align-self: flex-start;
    width: 15rem;
}