

/*we need to make this the only css*/

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

main {
    background-image: url(Images/main-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    margin: 0%;
    font-family: 'Irish Grover';
    color: rgb(250, 252, 242);
}

p {
    font-family: 'Bree Serif', serif;
    color: rgb(250, 252, 242);
}

img {
    max-width: ;
    width: 33%;
}

[role="banner"] {
    text-align: center;
    font-size: 5rem;
    color: rgb(250, 252, 242);
    padding: 3%;
    background: rgb(49,110,53);
    /*Please help make the box around the text fix the text, 
    bassacly what i am asking for is if u know how to make
    the box's height has high as the text.*/
    border-radius: 15px;
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
